  
<main>
　<div class="recruit-point">
　　<h2>募集要項</h2>
　</div>
　<div class="recruit-table">
　<div class="content-wrapper">
　　<table class="content">
　　　<tbody>
　　　<tr>
　　　<th>業務内容</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>応募資格</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>待遇</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>福利厚生</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>休日・休暇</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>勤務地</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　<tr>
　　　<th>勤務時間</th>
　　　<td>内容が入ります。</td>
　　　</tr>
　　　</tbody>
　　</table>
　</div>
　</div>
</main>