<div class="wrapper">
  <div class="wrapper_content">
    <h1 class="ststem">SYSTEM</h1>
      <div class="content">
        <div class="content_box">
          <div class="box1">
            <div class="box1_content">DRINK CHARGE</div>
            <div class=box_title>1DRINK ¥500</div>
            </div>
          <div class="box2">
            <div class=box_title_2>SET CHARGE</div>
            <div class=box2_content>1GAMA ¥500</div>
          </div>
        </div>
      </div>
  </div>
</div>